@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

html,
body,
::after,
::before,
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Raleway", serif;
}

body{
    background: #FEF7F1;
}

.hero-section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, var(--lima), var(--manga), var(--maracuja));
    background-size: 300% 300%;
    animation: gradientAnimation 8s infinite;
}

.sb-section {
    padding: 2rem;
    overflow: visible;
}

.yuzu-lima-section {
    background: var(--lima);
    color: var(--verde);
}

.manga-section {
    background: linear-gradient(180deg, var(--lima) 0%, var(--manga) 32%);
    color: var(--laranja);
}

.maracuja-section {
    background: linear-gradient(180deg, var(--manga) 0%, var(--maracuja) 32%);
    color: var(--vinho);
}

.separator {
    background: url(../img/separator-texture.png);
    background-size: cover;
    color: var(--laranja);
}

.separator p {
    width: 50%;
    text-align: center;
}

.zona-outline {
    z-index: 1;
    width: 144rem;
}

.text-bebida-container {
    width: 40%;
    z-index: 10;
}

.text-bebida-container img {
    width: 50%;
}

.separator h1,
.text-bebida-container h1 {
    font-family: "Archivo", sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
}

.separator p,
.text-bebida-container p {
    font-weight: 700;
    font-size: 1.2rem;
}

.lata-img {
    z-index: 10;
}

.brevemente-section {
    background-color: var(--lima);
}

.brevemente-section h1 {
    color: var(--white-color);
    font-family: "EB Garamond", serif;
    font-size: 8rem;
    font-weight: 800;
    padding-top: 4rem;
}

.zona-outline-bv {
    width: 90rem;
    opacity: 0.4;
    bottom: 4rem;
    z-index: 1;
}

.brevemente-section img {
    z-index: 10;
}

.social-media{
    padding: 2rem;
}

.social-media .social-links {
    font-size: 2rem;
    color: var(--laranja);
    border: solid var(--laranja) 0.1rem;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
}

.social-foto-area{
    gap: 1rem;
    overflow: hidden;
    margin: 0 auto;
}

.social-foto-area img{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

footer{
    padding: 2rem;
    font-size: 1.2rem;
}

.supa-animated {
    font-family: "Montserrat", sans-serif;
    animation: changeColor 6s linear infinite;
    transition: all .1s ease-in-out;
}

@keyframes changeColor {

    0%,
    100% {
        color: #2444FF;
    }

    33% {
        color: #24C4FF;
    }

    66% {
       color: #040053;
    }
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.carousel {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding: 1rem;
  }
  
  .carousel img {
    flex: 0 0 auto;
    scroll-snap-align: center;
    border-radius: 8px;
  }
  
  @media (min-width: 768px) {
    .carousel {
      overflow-x: visible;
    }
  }
  