:root {
    /* COLOURS */

    --lima: #E5E937;
    --verde: #007A51;

    --manga: #FDD26D;
    --laranja: #FF6702;

    --maracuja: #F9B963;
    --vinho: #AE184A;

    --black-color: #000000;
    --dark-color: #121212;
    --white-color: #FFFFFF;
    --light-color: #ececec2f;
    --gray-color: #2E2F2F;

    /* Size */
    --big-sz: 3.4rem;
    --mid-sz: 2.4rem;
    --small-sz: 1.6rem;
    --vsmall-sz: 1.2rem;

    /* Fonts */
    --normal-font: 500;

    /* Paddings */
    --button-p: 0.7rem 1rem;

    /* Borders */
    --button-radius: 1rem;
}


.container {
    width: 100%;
    height: 100vh;
    padding: 10rem;
}

.content{
    height: 100vh;
}

.over-hidden{
    overflow: hidden;
}

.full{
    width: 100%;
    height: 100%;
}

.f-width{
    width: 100%;
}

/* Fonts */

.normal-font {
    font-weight: var(--normal-font);
}

.small-sz {
    font-size: var(--small-sz);
}

/* FlexBox */

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.f-center {
    justify-content: center;
    align-items: center;
}

.a-center{
    align-items: center;
}

.j-between{
    justify-content: space-between;
}

.j-evenly{
    justify-content: space-evenly;
}

.j-center{
    justify-content: center;
}

.j-around{
    justify-content: space-around;
}
.t-center{
    text-align: center;
}

.off{
    display: none;
}
.p-relative{
    position: relative;
}
